
$color-primary: #409eff;
$color-success: #4cd96f;
$color-primary-light-1: #333;
$color-primary-light-2: #666;
$color-primary-light-3: #777;
$color-primary-light-4: #707377;
$color-primary-light-5: #808388;
$color-primary-light-6: #909399;
$color-primary-light-7: #a0a0a0;
$color-primary-light-8: #c0c4cc;
$color-primary-light-9: #ddd;
$color-primary-light-10: #ededed;

$color-black: #000;
$color-black-light-1: #111;
$color-black-light-2: #222;

$color-white: #fff;
$color-white-light-1: #f4f4f4;

$bg-img-primary: linear-gradient(90deg, #0af, #0085ff);